# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# ==============================
# IDE / Editor
# ==============================
.vscode/
.idea/
*.code-workspace

# ==============================
# Jupyter
# ==============================
.ipynb_checkpoints/

# ==============================
# Build / Packaging
# ==============================
build/
dist/
*.egg-info/

# ==============================
# Temporary / Cache
# ==============================
*.tmp
*.temp
*.bak
*.log
~$*
.cache/

# ==============================
# Windows
# ==============================
Thumbs.db
desktop.ini

# ==============================
# Python secrets
# ==============================
.env
.env.*
*.key
*.pem
*.bak
*.bak_*
*.zip